AWS_ACCESS_KEY_ID="AKIAIOSFODNN6EXAMPLE"
AWS_SECRET_ACCESS_KEY="wJalrXUtnFEMI/K7MDENG/bPxRfiCXEXAMPLEKEY"
AWS_REGION="us-east-1"
GOOGLE_API_KEY="AIzaSyDvc2t8M59jfDonZ1e4xG3wjFcCWHIN0yE"
MAILGUN_API_KEY="key-a67a11111b11a11a1a1ba1bbcf11f1c5"
STRIPE_API_KEY="sk_live_devboxacct1DfwS2ClCIKljW"
GOCARDLESS_API_KEY="live_AlN-kpH1H4wGhpLgmwm5kg15snC6nVfL05tHSXRB"
VAULT_SERVICE_TOKEN="s.Alh1jtrq6gsNyNWvGViHYpiu"
POSTMAN_API_KEY_V2="PMAK-5daf23cee2fb6b003ce3e1b4-5268d73d7b978d66a5ab6b180e2278e7ea"
DOPPLER_TOKEN="dp.pt.io2MvSgn7aAn6Ebhzr40b1BSMDywJhhMqMD62y6H"
ARTIFACTORY_KEY="AKCp8jRb9Ed3tAVY61BnS398vLHvERxp21ZyGv5E92g8T9Gm3nTLrXDhnYmu2QerNXzcsM6XQ"
VALID_PAT="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"
DELETED_PAT="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"
EXPIRED_PAT="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"
